

<main class="main">
  <div class="mx-auto py-20 text-center w-7/12">
    <div class=" text-indigo-600 font-semibold text-base">Displaying coordinates on map</div>
    <div class="text-4xl text-black font-bold pt-2 pb-4">Coordinates on google maps</div>
    <p class="text-gray-600 text-lg pb-9">Nimetumia package ya google maps, kudisplay map, start and final destination markers and current bus destination, watermarks kwenye ramani zinasababishwa na trial API key</p>
    <google-map width="750"
      [options]="mapOption"
       class="mt-20">
    <map-marker [position]="startMarker" ></map-marker>
    <map-marker [position]="destinationMarker" ></map-marker>
    <map-marker [options]="busMarkerOptions" ></map-marker>
    <map-polyline  [path]="waypoints"></map-polyline>

  </google-map>

  </div>

</main>




<router-outlet></router-outlet>
